.sliderContainer {
  --primaryColor: var(--red_medium);

  width: 75%;
  height: 16px;

  display: flex;
  align-items: center;
  margin: 2px 4px;

  background-color: var(--redash_dark);
  position: relative;

  &.off {
    --primaryColor: transparent; 
  }

 .rail {
    height: 3px;
    width: 0%;

    transition: width ease 200ms;
    border-radius: 2px;
    background-color: var(--primaryColor);
  }

 .track {
    flex: 1;
    height: 3px;

    border-radius: 2px;
    background-color: var(--redash_medium2);
  }
  
  .handle {
    height: 16px;
    width: 16px;
    position: absolute;
    border-radius: 100%;
    transform: translateX(-50%);

    transition: left ease 200ms;
    background-color: var(--primaryColor);
  }
}

